*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index:1;
}

.site-title{
    font-size: 2rem;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    border-radius: 0.5rem;
}

.nav ul :not(.active):hover{
    background-color: #777;
}